body {
    margin: 2%;
    padding: 0;
    background: #ccc;
}

div.featureset {
    font-size: 100%;
    padding: 20px;
    margin: 1em auto;
    min-width: 350px;
    max-width: 1024px;
    background: #fff;
    box-shadow: 0 0 30px #666;
}
div.featureset:before,
div.featureset:after {
    content: " ";
    display: table;
}
div.featureset:after {
    clear: both;
}
